name: Docker Build and Push  # 工作流程的名称

on:
  workflow_dispatch:  # 添加手动触发事件，可在 Actions 页面手动触发执行

jobs:
  build:
    runs-on: ubuntu-latest  # 在最新版的 Ubuntu 环境中执行

    steps:
      - name: Checkout repository  # 检出代码仓库
        uses: actions/checkout@v2

      - name: Set up QEMU  # 设置 QEMU 以支持多平台构建
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx  # 设置 Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub  # 登录到 Docker Hub
        run: echo "${{ secrets.DOCKER_TOKEN }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build and push Docker image  # 构建并推送 Docker 镜像
        run: |
          docker buildx build --platform linux/amd64,linux/arm64 \
            -t ${{ secrets.DOCKER_USERNAME }}/sing-box-subscribe:latest . --push
